<% include _header %>

<div class="page">
  <h1>Varför inte laga lite</h1>
  <a id="recipe" target="_blank" rel="noopener" href="<%=link%>"><b><%=recipe%></b></a>
  <p><a href="">Testa något nytt</a></p>
</div>

<% include _footer %>
