/*
$green0: #607848;
$green1: #789048;
$green2: #C0D860;
$white: #F0F0D8;
$brown: #604848;
shamlessly stolen from https://github.com/Jam3/nice-color-palettes
*/

html,
body {
  height: 100%;
  background-image: url("background01.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

body {
  position: relative;
  background-color: #f0f0d8;
  color: #604848;
  font: 13px Helvetica, Arial, sans-serif;
  margin: 0 0px;
}

h1 {
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 40px;
}

#recipe {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: #607848;
}

a:hover {
  color: #789048;
}

a:active {
  color: #c0d860;
}

p {
  font-size: 30px;
  padding-bottom: 20px;
}

.page {
  background-color: #f0f0d8;
  border-radius: 25px;
  opacity: 0.6;
  position: relative;
  top: 46%;
  transform: translateY(-50%);
  text-align: center;

  max-width: 720px;
  margin: auto;
}
